@model PagedList.IPagedList<ExploreModel.Site>
@{ var odd = true;
}

@foreach (var item in Model)
{

    var a = item.AuthorId;
    <div class="@(odd ? "blog-left":"blog-right")" id="displaypanel">
       @{
           
       }
        <div class="blog-img">
            <a href="single.html">
                <img src="~/Resources/@Path.GetFileName(item.Photo)" alt="" />
                <div class="blog-desc">
                    <h5>@Html.DisplayFor(modelItem => item.SiteName)</h5>
                    <h5>@Html.DisplayFor(modelItem => item.SiteLocation)</h5>
                    @*<p>@Html.DisplayFor(modelItem => item.SiteDescription)</p>*@
                    <div class="comment">

                        @if (a == @ViewBag.userId)
                        {
                            @Html.ActionLink("Edit", "EditSite", new { Controller = "Sites", id = item.SiteId })<label>|</label>
                            @Html.ActionLink("Delete", "DeleteSite", new { Controller = "Sites", id = item.SiteId })<label>|</label>
                        }
                        @Html.ActionLink("Details", "DetailsSite", new { Controller = "Sites", id = item.SiteId })

                    </div>
                </div>
            </a>
        </div>
    </div>
                        odd = !odd;

}
