@*@model IEnumerable<ExploreModel.Site>*@
           @model PagedList.IPagedList<ExploreModel.Site>
                      @using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout2.cshtml";
}



@section Head{
       @Html.ActionLink("Add Site", "AddSite")
  }

@section body{
    <style>
        .btnbg {
            background-image: url("../images/search.png");
            border-image-slice:100%;
        }
    </style>

            <div id="displaypanel">
                @Html.Action("GetSiteByTag", "SiteTag", new { tagname=@ViewBag.tagname})
                @*@Html.Partial("~/Views/SiteTag/GetSiteByTagPartial.cshtml", Model, new ViewDataDictionary { { "userId", @ViewBag.userId } })*@
            </div>                  
     }
       
                    @section Search{
                    @*@using (Html.BeginForm())
                    {*@
                        
             @Html.Partial("_SearchPartial")

                      
                    @*}
                        @Html.Partial("~/Views/Shared/_SearchSitesPartial.cshtml");
                        }*@
                        }

          
          
         
                @section Tags{
                @foreach (var item in ViewBag.Tags)
                {
                    <button id="@item.TagName"> @item.TagName</button>
                }}
           
       
@section scripts{
    <script>
        //$(document).ready(function () {
        //    $.ajax({
        //        url: '/SiteTag/GetSiteByTag',
        //        contentType: "application/json; charset=utf-8",              
        //        type: 'GET',
        //        cache: false,
        //        success: function (result) {
        //            $('#displaypanel').html(result);
        //        }
        //    })
        //});
        
    $("#search").click(function () {
        searchItem();
    })


    function searchItem() {  
        var searchdata = $("#searchString").val();
        $.ajax({
            url: '/SiteTag/GetSiteByTag',
            contentType: "application/json; charset=utf-8",
            type: 'GET',
            data: { searchString: searchdata },
            cache: false,
            success: function (result) {
                $('#displaypanel').html(result);
            }
        })
    }

    function searchItemKey() {
        var a = this.event;
            var keycode = (a.keyCode ? a.keyCode : a.which);
            if (keycode == '13') {
                searchItem();
            }
        }
    
</script>
 
}


    @section Paging{
        <!--Code to show curent page and page number-->
        @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, tagname = @ViewBag.tagname }))*@
    }

