@model IEnumerable<ExploreModel.Site>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SiteName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SiteLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SiteDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SiteName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SiteLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SiteDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Photo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SiteId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SiteId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SiteId })
        </td>
    </tr>
}

</table>
